extends layout

block content
  .row
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.grid-margin
      .card(style="height: 100%;")
        .card-body
          .row.text-center
            .col-12.mb-2
                - var generateIdenticon = function(eth_address){  
                -   var data = new identicon(eth_address).toString();
                -   return 'data:image/png;base64,' + data;
                - }
                if address.user_name && address.main_account === "twitter"
                  img.img-xl.rounded-circle(src='https://avatars.io/twitter/' + address.user_name, alt='Twitter profile picture' width="73")
                else if address.user_name && address.main_account === "github"
                  img.img-xl.rounded-circle(src='https://github.com/' + address.user_name + '.png' , alt='GitHub profile picture' width="73")
                else
                  img.img-xl.rounded-circle(src='' + generateIdenticon(address.dit_address), alt='User identicon')
            .col-12
              h1
                if address.user_name && address.main_account === "twitter"
                  a(href='https://twitter.com/' + address.user_name target="_blank") #{address.user_name}
                else if address.user_name && address.main_account === "github"
                  a(href='https://github.com/' + address.user_name target="_blank") #{address.user_name}
                else
                  span Contributor
              p.text-muted #{address.dit_address}
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.grid-margin.stretch-card
      .card.card-statistics(style="height: 100%;")
        .card-body
          .clearfix
            .float-right
              p.mb-0.text-right Balance
              .fluid-container
                h3.font-weight-medium.text-right.mb-4 #{parseFloat(address.xdai_balance).toFixed(2)} xDAI
                h3.font-weight-medium.text-right.mb-4 #{parseFloat(address.xdit_balance).toFixed(2)} xDIT
                h3.font-weight-medium.text-right #{parseFloat(address.totalKNW).toFixed(2)} KNW
  .row
    .col-12.grid-margin
      .card(style="border-top-left-radius: 0.25rem;")
        ul.nav.nav-tabs#profileNAV(role='tablist')
          li.nav-item
            a#tokens-tab.nav-link.card-title.active(style="border-top-left-radius: 0.25rem;", data-toggle='tab', href='#tokens', role='tab', aria-controls='tokens', aria-selected='true') KNW Tokens
          li.nav-item
            a#proposals-tab.nav-link.card-title(data-toggle='tab', href='#proposals', role='tab', aria-controls='proposals', aria-selected='false') Proposals
          li.nav-item
            a#repositories-tab.nav-link.card-title(data-toggle='tab', href='#repositories', role='tab', aria-controls='repositories', aria-selected='false') Repositories
        .card-body
          .tab-content
            #tokens.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tokens-tab')
              if address.knw_tokens && address.knw_tokens.length > 0
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th Label
                        th
                        th.text-right Amount
                    tbody
                    each token, index in address.knw_tokens
                      tr
                        td= token.label
                        td(style="width: 50%;")
                          .progress
                            .progress-bar.progress-bar-striped(role='progressbar', style='width: ' + (token.balance/address.totalKNW)*100 + '%', aria-valuenow='' + (token.balance/address.totalKNW)*100, aria-valuemin='0', aria-valuemax='100')
                        td.font-weight-bold.text-right= token.balance
              else
                blockquote.blockquote This contributor has not yet earned any knowledge tokens.
            #proposals.tab-pane.fade(role='tabpanel', aria-labelledby='proposals-tab')
              if (address.proposals[0]._id)
                .fluid-container
                  include ./comp-proposals.pug
              else
                blockquote.blockquote This contributor has not yet interacted with any proposals.
            #repositories.tab-pane.fade(role='tabpanel', aria-labelledby='repositories-tab')
              if address.repositories
                ul
                  each repository, index in address.repositories
                    li
                      a(href='/repositories/' + repository.hash)#repositoryName #{repository.name}
                        span.line(style="display: inline-block;")
                        span.line(style="display: inline-block;")
              else
                blockquote.blockquote This contributor has not yet contributed to any repositories.

  script.
    $(window).on('load',function(){
      if (window.location.hash){
        $("#proposals-tab").tab('show');
      }
    });