extends layout

block content
  .row
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.grid-margin
      .card(style="height: 100%;")
        .card-body
          .row.text-center
            .col-12.mb-2
                - var generateIdenticon = function(eth_address){  
                -   var data = new identicon(eth_address).toString();
                -   return 'data:image/png;base64,' + data;
                - }
                if twitter
                  img.img-xl.rounded-circle(src='http://avatars.io/twitter/' + twitter, alt='Twitter profile picture' width="73")
                else
                  img.img-xl.rounded-circle(src='' + generateIdenticon(address), alt='User identicon')
            .col-12
              h1
                if twitter 
                  a(href='https://twitter.com/' + twitter target="_blank") #{twitter}
                else
                  span Contributor
              p.text-muted #{address}
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.grid-margin.stretch-card
      .card.card-statistics(style="height: 100%;")
        .card-body
          .clearfix
            .float-right
              p.mb-0.text-right Balance
              .fluid-container
                h3.font-weight-medium.text-right.mb-4 #{xDAIBalance} xDAI
                h3.font-weight-medium.text-right.mb-4 #{xDitBalance} xDIT
                h3.font-weight-medium.text-right #{total} KNW
  .row
    .col-12.grid-margin
      .card(style="border-top-left-radius: 0.25rem;")
        ul.nav.nav-tabs#profileNAV(role='tablist')
          li.nav-item
            a#tokens-tab.nav-link.card-title.active(style="border-top-left-radius: 0.25rem;", data-toggle='tab', href='#tokens', role='tab', aria-controls='tokens', aria-selected='true') KNW Tokens
          li.nav-item
            a#proposals-tab.nav-link.card-title(data-toggle='tab', href='#proposals', role='tab', aria-controls='proposals', aria-selected='false') Proposals
          li.nav-item
            a#repositories-tab.nav-link.card-title(data-toggle='tab', href='#repositories', role='tab', aria-controls='repositories', aria-selected='false') Repositories
        .card-body
          .tab-content
            #tokens.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='tokens-tab')
              if !(Object.entries(balance).length === 0 && balance.constructor === Object)
                .table-responsive
                  table.table.table-hover
                    thead
                      tr
                        th Label
                        th
                        th.text-right Amount
                    tbody
                    each val, index in balance
                      tr
                        td= index
                        td(style="width: 50%;")
                          .progress
                            .progress-bar.progress-bar-striped(role='progressbar', style='width: ' + (val/total)*100 + '%', aria-valuenow='' + (val/total)*100, aria-valuemin='0', aria-valuemax='100')
                        td.font-weight-bold.text-right= val
              else
                blockquote.blockquote This contributor has not yet earned any knowledge tokens.
            #proposals.tab-pane.fade(role='tabpanel', aria-labelledby='proposals-tab')
              if (proposals.length)
                .fluid-container
                  include ./comp-proposals.pug
              else
                blockquote.blockquote This contributor has not yet interacted with any proposals.
            #repositories.tab-pane.fade(role='tabpanel', aria-labelledby='repositories-tab')
              if (repositories.length)
                ul
                  each repository, index in repositories
                    li
                      a(href='/repositories/' + repository.hex)#repositoryName #{repository.name}
                        span.line(style="display: inline-block;")
                        span.line(style="display: inline-block;")
              else
                blockquote.blockquote This contributor has not yet contributed to any repositories.

  script.
    var fields = $('#repositoryName').text().split('/');
    $('span.line:nth-child(1)').text(fields[0]);
    $('span.line:nth-child(2)').text('/' + fields[1]);

    $("#repositoryName").contents().filter(function(){
        return (this.nodeType == 3);
    }).remove();