extends layout

block content
  if (repositories.length)
    .row
      .col-12.grid-margin
        .card
          .card-body
            h1.mb-4 Initialized Repositories
              .badge.badge-pill.badge-secondary.ml-1 #{repositories.length}
            .fluid-container
                .table-responsive
                  table.table.table-bordered.table-hover
                    thead
                      tr
                        th
                          | Name
                        th.text-center.d-none.d-md-table-cell
                          | Contributors
                        th.text-center.d-none.d-xl-table-cell
                          | Combined knowledge
                        th.text-right.d-none.d-sm-table-cell
                          | Latest proposal
                          i.mdi.mdi-clock.mr-1.text-secondary(aria-hidden='true')
                    tbody
                      each repository, index in repositories
                        tr.clickable-row(data-href='/repositories/' + repository.hex, style='cursor: pointer;')
                          td
                            h6 #{repository.name}
                          td.text-center.d-none.d-md-table-cell
                            .badge.badge-pill.badge-dark #{repository.contributors.length}
                          td.text-center.d-none.d-xl-table-cell #{repository.combinedKNW} KNW
                          td.text-right.d-none.d-sm-table-cell
                            .text-muted #{moment.unix(repository.topicality).format("HH:mm:s DD.MM.YYYY ")}
                              
  script.
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });