extends layout

block content
  .row
    .col-xl-8.col-lg-8.col-md-8.col-sm-8.grid-margin
      .card(style="height: 100%;")
        .card-body
          .row
            .col-xl-2.col-lg-2.col-md-2.col-sm-2.d-none.d-lg-inline
              i.mdi.mdi-git.mr-1.text-secondary.icon-lg(aria-hidden='true')
            .col-xl-10.col-lg-10.col-md-12.col-sm-12.text-right
              h1
                a(href='' + repository.url target="_blank").font-weight-medium.text-right.mb-0#repositoryName #{repository.name}
                  span.line(style="display: inline-block;")
                  span.line(style="display: inline-block;")
              p.text-muted.mb-3
                | #{repository.hash}
          .row.float-right
            each label, index in repository.knw_labels
              button.btn.btn-inverse-light.btn-rounded.ml-1.btn-sm(type='button', style='cursor: default;') #{label}
    .col-xl-4.col-lg-4.col-md-4.col-sm-4.grid-margin.stretch-card
      .card.card-statistics(style="height: 100%;")
        .card-body
          .clearfix
            .float-right
              p.mb-0.text-right Latest proposal
              .fluid-container
                h3.font-weight-medium.text-right.mb-4 #{moment(repository.last_activity_date).format("HH:mm:ss DD.MM.YYYY ")}
              p.mb-0.text-right Combined
              .fluid-container
                h3.font-weight-medium.text-right #{parseFloat(repository.combinedKNW).toFixed(2)} KNW
  if (repository.contributors.length > 0)
    .row
      .col-12.grid-margin
        .card
          .card-body
            h4.card-title Contributors
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th
                      | 
                    th
                      | Address
                    th.d-none.d-md-table-cell
                      | Earned
                    th
                      | Contributions
                tbody
                  each contributor, index in repository.contributors
                    - address = contributor.address
                    tr.clickable-row(data-href='/address/' + contributor.address, style='cursor: pointer;')
                      td.py-1#twitterImage
                        - var generateIdenticon = function(eth_address){  
                        -   var data = new identicon(eth_address).toString();
                        -   return 'data:image/png;base64,' + data;
                        - }
                        if contributor.twitter_handle
                          img(src='https://avatars.io/twitter/' + contributor.twitter_handle, alt='Twitter profile picture' width="37")
                        else
                          img(src='' + generateIdenticon(contributor.address), alt='User identicon')
                      if contributor.twitter_handle
                        td
                          | #{contributor.twitter_handle}
                      else
                        td
                          | #{contributor.address}
                      td.d-none.d-md-table-cell= parseFloat(contributor.earned_knw).toFixed(2)
                       |  KNW
                      td= contributor.amount_of_proposals
  if !proposals[0]._id
    .row
      .col-12.grid-margin
        .card
          .card-body
            blockquote.blockquote This repository has only been initialized so far. Start to contribute by opening a proposal!
  if (proposals[0]._id)
    .row
      .col-12.grid-margin
        .card
          .card-body
            h5.card-title.mb-4 Proposals
            .fluid-container
              include ./comp-proposals.pug
  script.
    $(".clickable-row").click(function() {
      window.location = $(this).data("href");
    });

    var fields = $('#repositoryName').text().split('/');
    $('span.line:nth-child(1)').text(fields[0]);
    $('span.line:nth-child(2)').text('/' + fields[1]);

    $("#repositoryName").contents().filter(function(){
        return (this.nodeType == 3);
    }).remove();